<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>instantvpn.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4909FDEA1BF602C8A39BC49A7D388B8C089E6E2E</string>
				<key>dateExpires</key>
				<string>2021/12/15</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4909FDEA1BF602C8A39BC49A7D388B8C089E6E2E</string>
						<key>dateExpires</key>
						<string>2021/12/15</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4VWKTB85C8</string>
						<key>name</key>
						<string>USA China Network Corp</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4909FDEA1BF602C8A39BC49A7D388B8C089E6E2E</string>
						<key>dateExpires</key>
						<string>2021/12/15</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaAsyncSocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4VWKTB85C8</string>
						<key>name</key>
						<string>USA China Network Corp</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4909FDEA1BF602C8A39BC49A7D388B8C089E6E2E</string>
						<key>dateExpires</key>
						<string>2021/12/15</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4VWKTB85C8</string>
						<key>name</key>
						<string>USA China Network Corp</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4909FDEA1BF602C8A39BC49A7D388B8C089E6E2E</string>
						<key>dateExpires</key>
						<string>2021/12/15</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjackSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4VWKTB85C8</string>
						<key>name</key>
						<string>USA China Network Corp</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4909FDEA1BF602C8A39BC49A7D388B8C089E6E2E</string>
						<key>dateExpires</key>
						<string>2021/12/15</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4VWKTB85C8</string>
						<key>name</key>
						<string>USA China Network Corp</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4909FDEA1BF602C8A39BC49A7D388B8C089E6E2E</string>
						<key>dateExpires</key>
						<string>2021/12/15</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4VWKTB85C8</string>
						<key>name</key>
						<string>USA China Network Corp</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4909FDEA1BF602C8A39BC49A7D388B8C089E6E2E</string>
						<key>dateExpires</key>
						<string>2021/12/15</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainAccess.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4VWKTB85C8</string>
						<key>name</key>
						<string>USA China Network Corp</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4909FDEA1BF602C8A39BC49A7D388B8C089E6E2E</string>
						<key>dateExpires</key>
						<string>2021/12/15</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4VWKTB85C8</string>
						<key>name</key>
						<string>USA China Network Corp</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4909FDEA1BF602C8A39BC49A7D388B8C089E6E2E</string>
						<key>dateExpires</key>
						<string>2021/12/15</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NEKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4VWKTB85C8</string>
						<key>name</key>
						<string>USA China Network Corp</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4909FDEA1BF602C8A39BC49A7D388B8C089E6E2E</string>
						<key>dateExpires</key>
						<string>2021/12/15</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Resolver.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4VWKTB85C8</string>
						<key>name</key>
						<string>USA China Network Corp</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4909FDEA1BF602C8A39BC49A7D388B8C089E6E2E</string>
						<key>dateExpires</key>
						<string>2021/12/15</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Sodium.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4VWKTB85C8</string>
						<key>name</key>
						<string>USA China Network Corp</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4909FDEA1BF602C8A39BC49A7D388B8C089E6E2E</string>
						<key>dateExpires</key>
						<string>2021/12/15</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Yaml.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4VWKTB85C8</string>
						<key>name</key>
						<string>USA China Network Corp</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4909FDEA1BF602C8A39BC49A7D388B8C089E6E2E</string>
						<key>dateExpires</key>
						<string>2021/12/15</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4VWKTB85C8</string>
						<key>name</key>
						<string>USA China Network Corp</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4909FDEA1BF602C8A39BC49A7D388B8C089E6E2E</string>
						<key>dateExpires</key>
						<string>2021/12/15</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>lwip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4VWKTB85C8</string>
						<key>name</key>
						<string>USA China Network Corp</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4909FDEA1BF602C8A39BC49A7D388B8C089E6E2E</string>
						<key>dateExpires</key>
						<string>2021/12/15</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4VWKTB85C8</string>
						<key>name</key>
						<string>USA China Network Corp</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4909FDEA1BF602C8A39BC49A7D388B8C089E6E2E</string>
						<key>dateExpires</key>
						<string>2021/12/15</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>tun2socks.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4VWKTB85C8</string>
						<key>name</key>
						<string>USA China Network Corp</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4909FDEA1BF602C8A39BC49A7D388B8C089E6E2E</string>
						<key>dateExpires</key>
						<string>2021/12/15</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4VWKTB85C8</string>
						<key>name</key>
						<string>USA China Network Corp</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4909FDEA1BF602C8A39BC49A7D388B8C089E6E2E</string>
						<key>dateExpires</key>
						<string>2021/12/15</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4VWKTB85C8</string>
						<key>name</key>
						<string>USA China Network Corp</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4909FDEA1BF602C8A39BC49A7D388B8C089E6E2E</string>
						<key>dateExpires</key>
						<string>2021/12/15</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>4VWKTB85C8.com.uscntalk.instantvpn.PacketTunnelShadowsocks</string>
						<key>com.apple.developer.networking.networkextension</key>
						<array>
							<string>app-proxy-provider</string>
							<string>content-filter-provider</string>
							<string>packet-tunnel-provider</string>
						</array>
						<key>com.apple.developer.networking.vpn.api</key>
						<array>
							<string>allow-vpn</string>
						</array>
						<key>com.apple.developer.team-identifier</key>
						<string>4VWKTB85C8</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>PacketTunnelShadowsocks.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>b8a528de-e8de-4d9a-9ba7-0849cda0ef60</string>
						<key>name</key>
						<string>InstantVPN PacketTunnelShadowsocks AdHoc</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4VWKTB85C8</string>
						<key>name</key>
						<string>USA China Network Corp</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4VWKTB85C8.com.uscntalk.instantvpn</string>
				<key>com.apple.developer.networking.networkextension</key>
				<array>
					<string>app-proxy-provider</string>
					<string>content-filter-provider</string>
					<string>packet-tunnel-provider</string>
				</array>
				<key>com.apple.developer.networking.vpn.api</key>
				<array>
					<string>allow-vpn</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>4VWKTB85C8</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>4VWKTB85C8.4VWKTB85C8.com.uscntalk.instantvpn</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7da2a708-3ed8-44bc-8169-a7259d21bb9d</string>
				<key>name</key>
				<string>InstantVPN AdHoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4VWKTB85C8</string>
				<key>name</key>
				<string>USA China Network Corp</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
